.cont-img{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.image {
    position: absolute;
    background-color: #ffffff91;
    top: -80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.c-imgs{
    display: flex;
}
.sueno{
    scale: 0;
    color: #fff;
    transition: 2s;
}